<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .maindiv {
      background-color: rgb(223, 196, 248);
    }
  </style>
  <body>
    <div class="maindiv">
      <div>
        <img src="img/Floating-burger-PNG.png" style="width: 30rem" />
        <h1>Get Your Customized Burger :</h1>
      </div>

      <div>
        <label for="radio"
          >Please select the type of bun you would prefer?</label
        ><br /><br />

        <input type="radio" id="radio" name="radio" />: Plain White
        <br />

        <input type="radio" id="radio" name="radio" />: Whole Wheat <br />
        <input type="radio" id="radio" name="radio" />: Potato Bun<br />
        <input type="radio" id="radio" name="radio" />: Gluten-free bun<br />
        <input type="radio" id="radio" name="radio" />: Sesame Seed bun<br />
      </div>
      <br />
      <div>
        <label for="checkbox">
          Please add some classis veggies in your burger:</label
        ><br /><br />

        <input type="checkbox" id="checkbox" name="checkbox" />:tomato
        <br />

        <input type="checkbox" id="checkbox" name="checkbox" />: lettuce

        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: onion

        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: jalapenos
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: red onions
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Cucumbers<br />
        <input type="checkbox" id="checkbox" name="checkbox" />:carrot
        strings<br />
        <input type="checkbox" id="checkbox" name="checkbox" />: pepperonicis<br />
      </div>
      <br />
      <div>
        <label for="checkbox">
          Your choice of condiments/sauces in your burger? </label
        ><br /><br />

        <input type="checkbox" id="checkbox" name="checkbox" />:ketchup
        <br />

        <input type="checkbox" id="checkbox" name="checkbox" />: yellow mustard
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: relish

        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />:mayo
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: BBQ sauce
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />:chilli sauce<br />
        <input type="checkbox" id="checkbox" name="checkbox" />:Sriracha <br>
        <input type="checkbox" id="checkbox" name="checkbox" />: Dijon
        mustard<br />
        <input type="checkbox" id="checkbox" name="checkbox" />: cheese sauce<br />
      </div>
      <br />
      <div>
        <label for="radio"
          >Type of cheese you would like to have in your burger:</label
        ><br /><br />

        <input type="radio" id="radio" name="radio" />: cheddar cheese<br>

        <input type="radio" id="radio" name="radio" />: american cheese<br />
        <input type="radio" id="radio" name="radio" />: pepper jack <br />
        <input type="radio" id="radio" name="radio" />:mozzarella <br/>
        <input type="radio" id="radio" name="radio" />:swiss cheese
        <br />
      </div>
      <br />

      <input type="button" />
      <!-- <label>Add to cart</label> -->
    </div>
  </body>
</html>
