<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .maindiv {
      background-color: rgb(223, 196, 248);
    }
  </style>
  <body>
    <div class="maindiv">
      <div>
        <img
          src="img/Cookies-with-dark-chocolate-chips-on-transparent-background-PNG.png"
          style="width: 30rem"
        />
        <h1>Get Your Customized Cookies :</h1>
      </div>

      <div>
        <label for="radio"
          >What kind of crust for your cookies do you want? </label
        ><br /><br />

        <input type="radio" id="radio" name="radio" />: Hard and crispy
        <br />

        <input type="radio" id="radio" name="radio" />: Soft <br />
      </div>
      <br />
      <div>
        <label for="checkbox">
          Which spices should be used in cookie making?.</label
        ><br /><br />

        <input type="checkbox" id="checkbox" name="checkbox" />:Cinnamon
        <br />

        <input type="checkbox" id="checkbox" name="checkbox" />:Ginger
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Cloves compote
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Spiced chai<br />
      </div>
      <br />

      <div>
        <label for="radio">What flavour of cookie you would like? </label
        ><br /><br />

        <input type="radio" id="radio" name="radio" />:Chocolate chip
        <br />

        <input type="radio" id="radio" name="radio" />: Sugar cookies <br />
        <input type="radio" id="radio" name="radio" />: Peanut butter <br />
        <input type="radio" id="radio" name="radio" />: Gingerbread cookies
        <br />
        <input type="radio" id="radio" name="radio" />: Black and white cookies
        <br />
        <input type="radio" id="radio" name="radio" />: White chocolate
        macadamia nut cookies <br />
        <input type="radio" id="radio" name="radio" />: Oatmeal raisin cookie
        <br />
      </div>
      <br />
      <div>
        <label for="checkbox">
          Select Single/Mutiple Topings you would prefer on your Cookies:</label
        ><br /><br />

        <input type="checkbox" id="checkbox" name="checkbox" />:Almonds
        <br />

        <input type="checkbox" id="checkbox" name="checkbox" />:Confetti
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Icying sugar
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Chocolate
        chips<br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Caramel bits<br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Crushed
        oreos<br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Coconut<br />
      </div>

      <br />

      <input type="button" />
      <!-- <label>Add to cart</label> -->
    </div>
  </body>
</html>
