<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .maindiv {
      background-color: rgb(223, 196, 248);
    }
  </style>
  <body>
    <div class="maindiv">
      <div>
        <img
          src="img/Pancake-in-a-black-pan-with-strawberries-decorated-Clipart-PNG.png"
          style="width: 30rem"
        />
        <h1>Get Your Customized Pancakes :</h1>
      </div>

      <div>
        <label for="radio">Which flavour of pancakes would you prefer?</label
        ><br /><br />

        <input type="radio" id="radio" name="radio" />: Blueberry Buttermilk
        <br />

        <input type="radio" id="radio" name="radio" />: Classy Caramel <br />
        <input type="radio" id="radio" name="radio" />: Chocolate Chip <br />
        <input type="radio" id="radio" name="radio" />: Basic Banana <br />
      </div>
      <br />
      <div>
        <label for="checkbox">
          Select Single/Multiple spread of your chocice:</label
        ><br /><br />

        <input type="checkbox" id="checkbox" name="checkbox" />: White Chocolate
        <br />

        <input type="checkbox" id="checkbox" name="checkbox" />: Blueberry
        compote
        <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Strawberry
        compote <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Honey <br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Dark
        chocolate<br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Nutella<br />
        <input type="checkbox" id="checkbox" name="checkbox" />:Cream cheese<br />
        <input type="checkbox" id="checkbox" name="checkbox" />: Cappuccino<br />
      </div>
      <br />

      <div>
        <label for="radio"
          >Which Topings would you prefer on your pancakes:</label
        ><br /><br />

        <input type="radio" id="radio" name="radio" />: Colourful sprinkels
        <br />

        <input type="radio" id="radio" name="radio" />: Oreo crumbles <br />
        <input type="radio" id="radio" name="radio" />: Almond flakes <br />
        <input type="radio" id="radio" name="radio" />: Chocolate coated nutss
        <br />
      </div>
      <br />

      <div>
        <label for="radio">Which Syrup would you prefer:</label><br /><br />

        <input type="radio" id="radio" name="radio" />: Honey <br />

        <input type="radio" id="radio" name="radio" />: Cherry berry syrup<br />
        <input type="radio" id="radio" name="radio" />: Maple syrup <br />
      </div>
      <br />

      <input type="button" />
      <!-- <label>Add to cart</label> -->
    </div>
  </body>
</html>
